{{ partial:layout/section class="bg-sage" }}
  {{ partial:layout/inner }}
    {{ partial:components/headings/h1 class="!text-white" bylineClass="!text-pine" title="angebot." byline="explore. the apartments." }}
    <div class="max-w-3xl hyphens-auto text-white">
      <p class="!mb-0">Das Haus bietet im Gartengeschoss zwei 3.5-Zimmer-Wohnungen mit Sitzplätzen und weitläufigem Gartenanteil. Im EG und 1. OG befinden sich jeweils zwei 4.5- und zwei 3.5-Zimmer-Wohnungen. Alle Etagenwohnungen verfügen über eine grosse Terrasse, die an sonnigen Tagen den Wohnraum nach aussen erweitert. Zuoberst ist die 4.5-Zimmer-Attikawohnung. Hier thront man über dem Quartier und geniesst auf seinen Terrassen einen schönen Weitblick.</p>
    </div>
  {{ /partial:layout/inner }}
{{ /partial:layout/section }}

{{ partial:layout/section }}
  {{ partial:layout/inner class="!pb-0" }}
    {{ partial:objects/filter }}
    {{ partial:objects/objects }}
  {{ /partial:layout/inner }}
{{ /partial:layout/section }}
