{{ partial:layout/section class="bg-sage" }}
  {{ partial:layout/inner }}
    {{ partial:components/headings/h1 class="!text-white" bylineClass="!text-pine" title="angebot." byline="explore. the apartments." }}
    <div class="max-w-3xl hyphens-auto text-white">
      <p class="!mb-0">Schauen Sie sich die attraktiven und modernen Eigentumswohnungen genauer an und finden Sie Ihr neues Zuhause. Wir freuen uns auf Ihre Anfrage mittels Kontaktformular und stehen bei Fragen gerne zur Verfügung.</p>
    </div>
  {{ /partial:layout/inner }}
{{ /partial:layout/section }}

{{ partial:layout/section }}
  {{ partial:layout/inner class="!pb-0 !pt-40 lg:!pt-80" }}
    {{ partial:objects/filter }}
    {{ partial:objects/objects }}
  {{ /partial:layout/inner }}
{{ /partial:layout/section }}
