{{ partial:layout/section class="privacy" }}
  {{ partial:layout/inner class="!pb-0" }}
    {{ partial:components/headings/h1 title="Datenschutzerklärung" }}
    <p>Die Betreiber dieser Seiten nehmen den Schutz Ihrer persönlichen Daten sehr ernst...</p>
    {{ partial:components/headings/h2 }}
      Cookies
    {{ /partial:components/headings/h2 }}
    <p>Die Internetseiten verwenden teilweise so genannte Cookies...</p>
    <p>Die meisten der von uns verwendeten Cookies sind so genannte „Session-Cookies“...</p>
    <p>Sie können Ihren Browser so einstellen, dass Sie über das Setzen von Cookies informiert...</p>
    {{ partial:components/headings/h2 }}
      Hosting Provider &amp; Server-LogFiles
    {{ /partial:components/headings/h2 }}
    <p>Der Provider der Seiten erhebt und speichert automatisch Informationen...</p>
    <ul>
      <li>IP-Adresse</li>
      <li>Browsertyp und Browserversion</li>
      <li>verwendetes Betriebssystem</li>
      <li>Referrer URL</li>
      <li>Hostname des zugreifenden Rechners</li>
      <li>Uhrzeit der Serveranfrage</li>
    </ul>
    <p>Diese Daten können nicht direkt bestimmten Personen zugeordnet werden...</p>
    <p>Diese Daten sowie alle Daten dieser Website werden bei unserem Hosting-Provider...</p>
    {{ partial:components/headings/h2 }}
      Kontaktformular
    {{ /partial:components/headings/h2 }}
    <strong>Umfang, Zweck und Rechtsgrundlage der Datenverarbeitung</strong><br>
    <p>Auf unserer Internetseite ist ein Kontaktformular vorhanden...</p>
    <ul>
      <li>Name und Vorname sowie Anrede</li>
      <li>Firmenname, sofern angegeben</li>
      <li>Telefonnummer</li>
      <li>E-Mailadresse</li>
      <li>Adresse, sofern angegeben</li>
      <li>Nachricht, welche Sie uns übermitteln wollen</li>
    </ul>
    <p>Im Zeitpunkt der Absendung der Nachricht werden zudem folgende Daten gespeichert:</p>
    <ul>
      <li>Die IP-Adresse des Nutzers</li>
      <li>Datum und Uhrzeit der Registrierung</li>
    </ul>
    <p>Für die Verarbeitung der Daten wird im Rahmen des Absendevorgangs...</p>
    <p>Die Verarbeitung der personenbezogenen Daten aus der Eingabemaske dient uns allein...</p>
    <strong>Dauer der Speicherung und Widerspruchsrecht</strong><br>
    <p>Sie haben jederzeit die Möglichkeit, Ihre Einwilligung zur Verarbeitung...</p>
    <p>Alle personenbezogenen Daten, die im Zuge der Kontaktaufnahme gespeichert wurden...</p>
    {{ partial:components/headings/h2 }}
      Google Analytics
    {{ /partial:components/headings/h2 }}
    <p>Diese Website nutzt Funktionen des Webanalysedienstes Google Analytics...</p>
    <p>Google Analytics verwendet so genannte „Cookies“...</p>
    <strong>IP Anonymisierung</strong><br>
    <p>Wir haben auf dieser Website die Funktion IP-Anonymisierung aktiviert...</p>
    <strong>Browser Plugin</strong><br>
    <p>Sie können die Speicherung der Cookies durch eine entsprechende Einstellung...</p>
    <p>Mehr Informationen zum Umgang mit Nutzerdaten bei Google Analytics finden Sie...</p>
    <strong>Auftragsdatenverarbeitung</strong><br>
    <p>Wir haben mit Google einen Vertrag zur Auftragsdatenverarbeitung abgeschlossen...</p>
    <strong>Demografische Merkmale bei Google Analytics</strong><br>
    <p>Diese Website nutzt die Funktion “demografische Merkmale” von Google Analytics...</p>
    {{ partial:components/headings/h2 }}
      Google Maps
    {{ /partial:components/headings/h2 }}
    <strong>Umfang, Zweck und Rechtsgrundlage der Datenverarbeitung</strong><br>
    <p>Diese Webseite verwendet Google Maps zur Nutzung von Karten und zur Erstellung...</p>
    <p>Sofern Sie auf dieser Webseite Google Maps aufrufen, speichert Google...</p>
    <strong>Dauer der Speicherung und Widerspruchsrecht</strong><br>
    <p>Sofern Sie mit dieser Verarbeitung nicht einverstanden sind...</p>
    <p>Zudem erfolgt die Nutzung von Google Maps sowie der über Google Maps erlangten...</p>
    {{ partial:components/headings/h2 }}
      Recht auf Auskunft, Löschung, Sperrung
    {{ /partial:components/headings/h2 }}
    <p>Sie haben jederzeit das Recht auf unentgeltliche Auskunft über Ihre gespeicherten...</p>
    {{ partial:components/headings/h2 }}
      Verwendung von Adobe Fonts
    {{ /partial:components/headings/h2 }}
    <p>Wir verwenden auf dieser Webseite die Schriftarten von Adobe Fonts...</p>
    <p>Beim Besuch dieser Webseite werden die Schriften von Adobe von Ihrem Browser geladen...</p>
    <ul>
      <li>IP-Adresse des Geräts, von dem aus auf die Webseite zugegriffen wird</li>
      <li>Datum und Uhrzeit des Zugriffs</li>
      <li>Browsertyp und -version</li>
      <li>Betriebssystem des Geräts</li>
      <li>Spracheinstellungen des Browsers</li>
    </ul>
    <p>Die Verarbeitung Ihrer personenbezogenen Daten im Zusammenhang mit Adobe Fonts...</p>
    <p>Weitere Informationen zur Datenverarbeitung durch Adobe Fonts finden Sie...</p>
    <p>Für weitere Informationen zur Verarbeitung Ihrer personenbezogenen Daten...</p>
  {{ /partial:layout/inner }}
{{ /partial:layout/section }}
