
{{ partial:layout/section }}
  {{ partial:layout/inner }}

  {{ partial:components/headings/h1 title="lage." byline="bloom. with the beauty<br>of zollikon" }}

  <div class="max-w-3xl hyphens-auto">
    <p>Zollikon gehört zu den begehrtesten Gemeinden am Zürichsee und bietet eine hervorragende Kombination aus urbanem Leben und naturnaher Ruhe. Die Gemeinde ist nicht nur zentrumsnah, sondern auch bekannt für ihre hervorragende Infrastruktur, ihre weltoffene Bevölkerung und die Nähe zum pulsierenden Zürcher Seefeld mit seinen Cafés und Boutiquen.</p>
    <p>Hier geniesst man alle Vorteile einer attraktiven Lage – schnell in der Stadt und doch eingebettet in eine ruhige, grüne, freizeitbezogene Umgebung. Die rund 13‘000 Einwohnerinnen und Einwohner von Zollikon profitieren von Steuervorteilen, einer atemberaubenden Landschaft und einer beneidenswerten geografischen Lage. Es verfügt zudem über ein breites Angebot an Einkaufsmöglichkeiten und Dienstleistungen für alle Bedürfnisse. Zollikon bietet ein durchgängiges Schulangebot – vom Kindergarten über die Primar- und Sekundarschule.</p>
    <p>Die 7 Eigentumswohnungen liegen in der Nähe vom Waldrand und bieten eine einzigartige Kombination aus Stadtleben und naturnahem Wohnen.</p>
  </div>

  <div class="max-w-3xl">
    {{ partial:components/headings/h2 }}
      explore. the hotspots.
    {{ /partial:components/headings/h2 }}

    <table class="w-full text-xs md:text-sm lg:text-base">
      <thead class="font-oakes-bold text-white">
        <th class="bg-sage text-left pt-12 pb-8 pl-2 pr-10 leading-none">Ort</th>
        <th class="bg-sage text-left pt-12 pb-8 pr-10 leading-none">zu&nbsp;Fuss</th>
        <th class="bg-sage text-left pt-12 pb-8 pr-10 leading-none">ÖV</th>
        <th class="bg-sage text-right pt-12 pb-8 pr-5 leading-none">Auto</th>
      </thead>
      <tbody class="[&>tr>td:first-of-type]:pl-5 [&>tr>td:last-of-type]:pr-5 [&>tr>td]:align-top [&>tr>td]:pt-12 [&>tr>td]:pb-8 [&>tr]:border-b [&>tr]:border-b-sage">
        <tr>
          <td>Schwimmbad Fohrbach</td>
          <td>12&nbsp;min</td>
          <td>–</td>
          <td class="text-right">2&nbsp;min</td>
        </tr>
        <tr>
          <td>Zolliker Wald</td>
          <td>15&nbsp;min</td>
          <td>–</td>
          <td class="text-right">3&nbsp;min</td>
        </tr>
        <tr>
          <td>Sportplatz Riet</td>
          <td>6&nbsp;min</td>
          <td>–</td>
          <td class="text-right">2&nbsp;min</td>
        </tr>
        <tr>
          <td>Seebadi Zollikon</td>
          <td>19&nbsp;min</td>
          <td>11&nbsp;min</td>
          <td class="text-right">4&nbsp;min</td>
        </tr>
        <tr>
          <td>Skatepark Zollikon</td>
          <td>8&nbsp;min</td>
          <td>8&nbsp;min</td>
          <td class="text-right">2&nbsp;min</td>
        </tr>
        <tr>
          <td>Fussballplatz Lengg</td>
          <td>12&nbsp;min</td>
          <td>12&nbsp;min</td>
          <td class="text-right">3&nbsp;min</td>
        </tr>
        <tr>
          <td>Tennisanlage Lengg</td>
          <td>14&nbsp;min</td>
          <td>11&nbsp;min</td>
          <td class="text-right">3&nbsp;min</td>
        </tr>
        <tr>
          <td>Zentrum Zollikon</td>
          <td>12&nbsp;min</td>
          <td>12&nbsp;min</td>
          <td class="text-right">3&nbsp;min</td>
        </tr>
        <tr>
          <td>Einkaufszentrum Coop</td>
          <td>13&nbsp;min</td>
          <td>13&nbsp;min</td>
          <td class="text-right">2&nbsp;min</td>
        </tr>
        <tr>
          <td>Bushaltestelle Rotfluhstrasse</td>
          <td>3&nbsp;min</td>
          <td>–</td>
          <td class="text-right">1&nbsp;min</td>
        </tr>
        <tr>
          <td>Bahnhof Zollikon</td>
          <td>17&nbsp;min</td>
          <td>7&nbsp;min</td>
          <td class="text-right">4&nbsp;min</td>
        </tr>
        <tr>
          <td>Bahnhof Tiefenbrunnen</td>
          <td>25&nbsp;min</td>
          <td>14&nbsp;min</td>
          <td class="text-right">5&nbsp;min</td>
        </tr>
        <tr>
          <td>Primarschule/Kindergarten Oescher</td>
          <td>9&nbsp;min</td>
          <td>6&nbsp;min</td>
          <td class="text-right">1&nbsp;min</td>
        </tr>
        <tr>
          <td>Sekundarschule Buechholz</td>
          <td>9&nbsp;min</td>
          <td>6&nbsp;min</td>
          <td class="text-right">2&nbsp;min</td>
        </tr>
        <tr>
          <td>Schule Serendipity Montessori</td>
          <td>16&nbsp;min</td>
          <td>12&nbsp;min</td>
          <td class="text-right">3&nbsp;min</td>
        </tr>
        <tr>
          <td>Kinderkrippe Bienehuus</td>
          <td>7&nbsp;min</td>
          <td>4&nbsp;min</td>
          <td class="text-right">1&nbsp;min</td>
        </tr>
        <tr>
          <td colspan="4">&nbsp;</td>
        </tr>
        <tr>
          <td>Hauptbahnhof Zürich</td>
          <td>–</td>
          <td>19&nbsp;min</td>
          <td class="text-right">18&nbsp;min</td>
        </tr>
        <tr>
          <td>Flughafen Zürich</td>
          <td>–</td>
          <td>32&nbsp;min</td>
          <td class="text-right">26&nbsp;min</td>
        </tr>
        <tr>
          <td>Bellvue</td>
          <td>–</td>
          <td>22&nbsp;min</td>
          <td class="text-right">15&nbsp;min</td>
        </tr>
        <tr>
          <td>Kinderspital</td>
          <td>–</td>
          <td>22&nbsp;min</td>
          <td class="text-right">15&nbsp;min</td>
        </tr>
        <tr>
          <td>Klinik Hirslanden</td>
          <td>10&nbsp;min</td>
          <td>10&nbsp;min</td>
          <td class="text-right">1&nbsp;min</td>
        </tr>
        <tr>
          <td>Universitätsklinik Balgrist</td>
          <td>14&nbsp;min</td>
          <td>12&nbsp;min</td>
          <td class="text-right">2&nbsp;min</td>
        </tr>
        <tr>
          <td>Spital Zollikerberg</td>
          <td>36&nbsp;min</td>
          <td>22&nbsp;min</td>
          <td class="text-right">5&nbsp;min</td>
        </tr>
        <tr>
          <td>International Lakeside School Küsnacht</td>
          <td>–</td>
          <td>22&nbsp;min</td>
          <td class="text-right">15&nbsp;min</td>
        </tr>
      </tbody>
    </table>

    <div class="my-20 lg:my-40">
      <div>
        <a href="https://maps.app.goo.gl/norgMcYL9epjSsUq9" 
          target="_blank" 
          title="Google Maps öffnen"
          class="btn-primary">
          <span class="block leading-none">google maps.</span>
        </a>
      </div>
    </div>

  </div>

  <div class="sm:grid sm:grid-cols-12 sm:gap-15 lg:gap-20">
    {{ partial:components/fancybox/item image="magnolia-rothfluhstrasse-zollikon-impressionen-projekt-1" alt="" class="aspect-square" }}
    {{ partial:components/fancybox/item image="magnolia-rothfluhstrasse-zollikon-impressionen-projekt-2" alt="" class="aspect-square" }}
    {{ partial:components/fancybox/item image="magnolia-rothfluhstrasse-zollikon-impressionen-projekt-3" alt="" class="aspect-square" }}
  </div>

  {{ /partial:layout/inner }}

{{ /partial:layout/section }}