{{ partial:layout/section }}
  {{ partial:components/media/visual image="magnolia-rotfluhstrasse-zollikon-visual-lage" alt="" }}
{{ /partial:layout/section }}

{{ partial:layout/section class="bg-sage" }}
  {{ partial:layout/inner }}

  {{ partial:components/headings/h1 class="!text-white" bylineClass="!text-pine" title="lage." byline="bloom. with the beauty<br>of zollikon" }}

  <div class="max-w-3xl hyphens-auto text-white">
    <p>Zollikon gehört zu den begehrtesten Gemeinden am Zürichsee und bietet eine hervorragende Kombination aus urbanem Leben und naturnaher Ruhe. Die Gemeinde ist nicht nur zentrumsnah, sondern auch bekannt für ihre hervorragende Infrastruktur, ihre weltoffene Bevölkerung und die Nähe zum pulsierenden Zürcher Seefeld mit seinen Cafés und Boutiquen.</p>
    <p>Hier geniesst man alle Vorteile einer attraktiven Lage – schnell in der Stadt und doch eingebettet in eine ruhige, grüne, freizeitbezogene Umgebung. Die rund 13‘000 Einwohnerinnen und Einwohner von Zollikon profitieren von Steuervorteilen, einer atemberaubenden Landschaft und einer beneidenswerten geografischen Lage. Es verfügt zudem über ein breites Angebot an Einkaufsmöglichkeiten und Dienstleistungen für alle Bedürfnisse. Zollikon bietet ein durchgängiges Schulangebot – vom Kindergarten über die Primar- und Sekundarschule.</p>
    <p class="!mb-0">Die 7 Eigentumswohnungen liegen in der Nähe des Waldrands und bieten eine einzigartige Kombination aus Stadtleben und naturnahem Wohnen.</p>
  </div>
  {{ /partial:layout/inner }}
{{ /partial:layout/section }}

{{ partial:layout/section }}
  {{ partial:layout/inner }}

  <div class="max-w-3xl">
    {{ partial:components/headings/h2 }}
      explore. the hotspots.
    {{ /partial:components/headings/h2 }}

    <div class="mb-20 lg:mb-40">
      <div class="flex gap-x-10 lg:gap-x-20">
        <a href="/assets/magnolia-rotfluhstrasse-zollikon-lageplan.pdf" 
          target="_blank" 
          title="Lageplan herunterladen"
          class="btn-primary">
          <span class="block leading-none">lageplan.</span>
        </a>
        <a href="https://maps.app.goo.gl/norgMcYL9epjSsUq9" 
          target="_blank" 
          title="Google Maps öffnen"
          class="btn-primary">
          <span class="block leading-none">google maps.</span>
        </a>
      </div>
    </div>
  </div>

  <div class="sm:grid sm:grid-cols-12 sm:gap-15 lg:gap-20">
    {{ partial:components/fancybox/item image="magnolia-rotfluhstrasse-zollikon-impressionen-projekt-1" alt="" class="aspect-square" }}
    {{ partial:components/fancybox/item image="magnolia-rotfluhstrasse-zollikon-impressionen-projekt-2" alt="" class="aspect-square" }}
    {{ partial:components/fancybox/item image="magnolia-rotfluhstrasse-zollikon-impressionen-projekt-3" alt="" class="aspect-square" }}
  </div>

  {{ /partial:layout/inner }}

{{ /partial:layout/section }}