{{ partial:layout/section }}
  {{ partial:misc/badge }}
  {{ partial:components/swiper/wrapper }}

  {{ partial:components/swiper/slide class="swiper-slide--21-9" }}
    <figure>
      <picture>
        <source media="(min-width: 1440px)" srcset="/assets/magnolia-rothfluhstrasse-zollikon-visual-aussen-terrasse-2xl.avif" type="image/avif">
        <source media="(min-width: 1280px)" srcset="/assets/magnolia-rothfluhstrasse-zollikon-visual-aussen-terrasse-xl.avif" type="image/avif">
        <source media="(min-width: 1024px)" srcset="/assets/magnolia-rothfluhstrasse-zollikon-visual-aussen-terrasse-lg.avif" type="image/avif">
        <source srcset="/assets/magnolia-rothfluhstrasse-zollikon-visual-aussen-terrasse.avif" type="image/avif">
      
        <source media="(min-width: 1440px)" srcset="/assets/magnolia-rothfluhstrasse-zollikon-visual-aussen-terrasse-2xl.webp" type="image/webp">
        <source media="(min-width: 1280px)" srcset="/assets/magnolia-rothfluhstrasse-zollikon-visual-aussen-terrasse-xl.webp" type="image/webp">
        <source media="(min-width: 1024px)" srcset="/assets/magnolia-rothfluhstrasse-zollikon-visual-aussen-terrasse-lg.webp" type="image/webp">
        <source srcset="/assets/magnolia-rothfluhstrasse-zollikon-visual-aussen-terrasse.webp" type="image/webp">
      
        <img 
          src="/assets/magnolia-rothfluhstrasse-zollikon-visual-aussen-terrasse.jpg" 
          width="900"
          height="387"
          alt=""
          loading="lazy"
          class="w-full h-auto"
        />
      </picture>   
    </figure>
  {{ /partial:components/swiper/slide }}

  {{ partial:components/swiper/slide class="swiper-slide--21-9" }}
    <figure>
      <picture>
        <source media="(min-width: 1440px)" srcset="/assets/magnolia-rothfluhstrasse-zollikon-visual-wohnen-2xl.avif" type="image/avif">
        <source media="(min-width: 1280px)" srcset="/assets/magnolia-rothfluhstrasse-zollikon-visual-wohnen-xl.avif" type="image/avif">
        <source media="(min-width: 1024px)" srcset="/assets/magnolia-rothfluhstrasse-zollikon-visual-wohnen-lg.avif" type="image/avif">
        <source srcset="/assets/magnolia-rothfluhstrasse-zollikon-visual-wohnen.avif" type="image/avif">
      
        <source media="(min-width: 1440px)" srcset="/assets/magnolia-rothfluhstrasse-zollikon-visual-wohnen-2xl.webp" type="image/webp">
        <source media="(min-width: 1280px)" srcset="/assets/magnolia-rothfluhstrasse-zollikon-visual-wohnen-xl.webp" type="image/webp">
        <source media="(min-width: 1024px)" srcset="/assets/magnolia-rothfluhstrasse-zollikon-visual-wohnen-lg.webp" type="image/webp">
        <source srcset="/assets/magnolia-rothfluhstrasse-zollikon-visual-wohnen.webp" type="image/webp">
      
        <img 
          src="/assets/magnolia-rothfluhstrasse-zollikon-visual-wohnen.jpg" 
          width="900"
          height="387"
          alt=""
          loading="lazy"
          class="w-full h-auto"
        />
      </picture>
    </figure>
  {{ /partial:components/swiper/slide }}

  {{ partial:components/swiper/slide class="swiper-slide--21-9" }}
    <figure>
      <picture>
        <source media="(min-width: 1440px)" srcset="/assets/magnolia-rothfluhstrasse-zollikon-visual-aussen-strasse-2xl.avif" type="image/avif">
        <source media="(min-width: 1280px)" srcset="/assets/magnolia-rothfluhstrasse-zollikon-visual-aussen-strasse-xl.avif" type="image/avif">
        <source media="(min-width: 1024px)" srcset="/assets/magnolia-rothfluhstrasse-zollikon-visual-aussen-strasse-lg.avif" type="image/avif">
        <source srcset="/assets/magnolia-rothfluhstrasse-zollikon-visual-aussen-strasse.avif" type="image/avif">
      
        <source media="(min-width: 1440px)" srcset="/assets/magnolia-rothfluhstrasse-zollikon-visual-aussen-strasse-2xl.webp" type="image/webp">
        <source media="(min-width: 1280px)" srcset="/assets/magnolia-rothfluhstrasse-zollikon-visual-aussen-strasse-xl.webp" type="image/webp">
        <source media="(min-width: 1024px)" srcset="/assets/magnolia-rothfluhstrasse-zollikon-visual-aussen-strasse-lg.webp" type="image/webp">
        <source srcset="/assets/magnolia-rothfluhstrasse-zollikon-visual-aussen-strasse.webp" type="image/webp">
        
        <img 
          src="/assets/magnolia-rothfluhstrasse-zollikon-visual-aussen-strasse.jpg" 
          width="900"
          height="387"
          alt=""
          loading="lazy"
          class="w-full h-auto"
        />
      </picture>
      
    </figure>
  {{ /partial:components/swiper/slide }}  

  {{ /partial:components/swiper/wrapper }}
{{ /partial:layout/section }}

{{ partial:layout/section }}
{{ partial:layout/inner }}

  <div class="max-w-3xl text-3xl md:text-4xl lg:text-5xl leading-[1] mb-20 lg:mb-40">
    <span class="block text-sage">feel at home in</span>
    <span class="block text-pine">magnolia<span class="text-sage">.</span></span>
  </div>

  <div class="max-w-3xl text-lg md:text-xl lg:text-2xl font-oakes-regular-italic text-sage mb-20 lg:mb-40">
    <em>Ein Zuhause zum Verlieben.<br>Stilvoll, grosszügig und einzigartig.</em>
  </div>

  <div class="max-w-lg md:max-w-xl lg:max-w-2xl text-lg md:text-xl lg:text-2xl font-oakes-regular-italic text-sage mb-30 lg:mb-60">
    <em>Im Herzen von Zollikon entsteht mit dem Projekt <span class="text-pine">magnolia</span>. ein Wohntraum der besonderen Art. Vielleicht Ihr neues Zuhause?</em>
  </div>

  <div class="max-w-3xl">
    {{ partial:components/headings/h1 title="projekt." byline="explore. the facts" }}
    <p><strong>Dein neues Zuhause, <span class="text-sage">magnolia</span>.</strong></p>
    <p><strong>7 exklusive Eigentumswohnungen.</strong><br>3× 3.5-Zimmer-Wohnungen<br>4× 4.5-Zimmer-Wohnungen<br>130-150m<sup>2</sup> Wohnflächen</p>
    <p><strong>Voraussichtlicher Bezugstermin: 15.06.2025</strong></p>
    <p>Das Projekt magnolia. bietet eine Auswahl an vielseitigen und einladenden Wohnungen, die durch moderne, durchdachte Grundrisse und qualitative Aussenflächen bestechen. Das Mehrfamilienhaus überzeugt durch eine schlichte Architektursprache und eine hochwertige Gestaltung. Die grossen, raumhohen Fensterfronten ermöglichen eine ganztägige Sonneneinstrahlung, wodurch sämtliche Wohnungen vom natürlichen Tageslicht durchflutet werden – es entsteht ein einzigartiges und grosszügiges Raumgefühl! Die luftige Raumaufteilung ermöglicht einen fliessenden Übergang zwischen den Wohn- und Aussenbereichen. Zwei Wohnungen bieten zusätzlich grosszügige Gartenbereiche mit viel Privatsphäre und jeweils einem Hobbyraum zur flexiblen Nutzung. Die Attikawohnung begeistert mit beeindruckenden Terrassen. Die weiteren vier Wohnungen punkten mit luxuriösen Ensuite-Bädern und einem durchdachten Raumkonzept. Für zusätzlichen Komfort sorgt der direkte Zugang zur Garage über einen modernen Autolift.</p>    
    {{ partial:components/headings/h2 }}
      explore. the architect.
    {{ /partial:components/headings/h2 }}
    <p>Der international tätige Architekt Curzio Ardinghi steht für Architektur, die inspiriert und bewegt. Seine Reise begann in Florenz, führte ihn über Aachen nach Zürich, wo er heute seine kreative Vision mit einem eingespielten Team umsetzt. Gemeinsam mit Architektinnen und Architekten, die sich durch ihre Leidenschaft für Gestaltung und ihre internationale Erfahrung auszeichnen, entwickelt er massgeschneiderte und zukunftsweisende Lösungen. Ob Neubauprojekte oder anspruchsvolle Sanierungen – Curzio Ardinghi begleitet jedes Vorhaben mit einem ganzheitlichen Anspruch: von der ersten Idee bis zur Umsetzung. Im Zentrum steht dabei stets der Mensch – es entstehen Räume mit Charakter, in denen man sich nicht nur aufhält, sondern zuhause fühlt. Architektur, die Emotionen weckt und nachhaltig begeistert – willkommen in einer Welt moderner, lebensnaher Gestaltung.</p>
    {{ partial:components/headings/h2 }}
      explore. the materials.
    {{ /partial:components/headings/h2 }}
    <p>Für die Wohnungen wurde hochwertiges Eichenparkett ausgewählt, das mit seiner natürlichen Wärme und Langlebigkeit überzeugt. Eiche steht für Beständigkeit und Eleganz und sorgt für eine behagliche Atmosphäre. Zusammen mit edlem Naturstein in den Bädern und massgeschneiderten Einbauschränken entsteht ein harmonisches Gesamtbild, das den hohen Anspruch von magnolia. widerspiegelt. In diesem Projekt wird die Küche zum Herzstück des Wohnraums – nicht nur funktional, sondern auch ästhetisch ein Highlight. Hochwertige Materialien und modernes Design machen sie zum stilvollen Mittelpunkt, der den gesamten Wohnraum prägt und bereichert.</p>
    {{ partial:components/headings/h2 }}
      explore. the mood.
    {{ /partial:components/headings/h2 }}
    <div>
      <a href="/assets/downloads/zoe-siewerdtstrasse-verkaufsplaene.pdf" 
        target="_blank" 
        title="Verkaufspläne herunterladen"
        class="bg-pine hover:bg-sage text-white px-15 py-10 lg:px-20 inline-flex items-center justify-center  w-auto transition-all">
        <span class="block leading-none">verkaufspläne</span>
      </a>
    </div>
  </div>

{{ /partial:layout/inner }}
{{ /partial:layout/section }}

{{ partial:layout/section }}

  {{ partial:layout/inner }}

    <div class="sm:grid sm:grid-cols-12 sm:gap-15 lg:gap-20">
      {{ partial:components/fancybox/item image="magnolia-rothfluhstrasse-zollikon-impressionen-projekt-1" alt="" class="aspect-square" }}
      {{ partial:components/fancybox/item image="magnolia-rothfluhstrasse-zollikon-impressionen-projekt-2" alt="" class="aspect-square" }}
      {{ partial:components/fancybox/item image="magnolia-rothfluhstrasse-zollikon-impressionen-projekt-3" alt="" class="aspect-square" }}
    </div>

  {{ /partial:layout/inner }}

{{ /partial:layout/section }}