{{ partial:layout/section }}
  {{ partial:misc/badge }}
  {{ partial:components/media/visual image="magnolia-rotfluhstrasse-zollikon-visual-aussen-front" alt="" }}
{{ /partial:layout/section }}

{{ partial:layout/section class="bg-sage z-50 text-white" }}
  {{ partial:layout/inner }}
    <div class="max-w-3xl text-3xl md:text-4xl lg:text-5xl leading-[1] mb-20 lg:mb-40">
      <span class="block text-white">feel at home in</span>
      <span class="block text-pine">magnolia<span class="text-white">.</span></span>
    </div>
    <div class="max-w-3xl text-lg md:text-xl lg:text-2xl font-oakes-regular-italic text-white mb-20 lg:mb-40">
      <em>Ein Zuhause zum Verlieben.<br>Stilvoll, grosszügig und einzigartig.</em>
    </div>
    <div class="max-w-lg md:max-w-xl lg:max-w-2xl text-lg md:text-xl lg:text-2xl font-oakes-regular-italic text-white">
      <em>Im Herzen von Zollikon entsteht mit dem Projekt <span class="text-pine">magnolia</span>. ein Wohntraum der besonderen Art. Vielleicht Ihr neues Zuhause?</em>
    </div>
  {{ /partial:layout/inner }}
{{ /partial:layout/section }}

{{ partial:layout/section class="bg-white z-50" }}
  {{ partial:layout/inner }}
    <div class="max-w-3xl hyphens-auto">
      {{ partial:components/headings/h1 title="projekt." byline="explore. the facts" }}
      <p><strong>Dein neues Zuhause, <span class="text-sage">magnolia</span>.</strong></p>
      <p><strong>7 exklusive Eigentumswohnungen.</strong><br>4× 3.5-Zimmerwohnungen<br>3× 4.5-Zimmerwohnungen</p>
      <p><strong>Ihre neue Adresse:</strong> Rotfluhstrasse 34, 8702 Zollikon</p>
      <p>Das Projekt magnolia. bietet eine Auswahl an vielseitigen und einladenden Wohnungen, die durch moderne, durchdachte Grundrisse und qualitative Aussenflächen bestechen. Das Mehrfamilienhaus überzeugt durch eine schlichte Architektursprache und eine hochwertige Gestaltung. Die grossen, raumhohen Fensterfronten ermöglichen eine ganztägige Sonneneinstrahlung, wodurch sämtliche Wohnungen vom natürlichen Tageslicht durchflutet werden – es entsteht ein einzigartiges und grosszügiges Raumgefühl! Die luftige Raumaufteilung ermöglicht einen fliessenden Übergang zwischen den Wohn- und Aussenbereichen. Zwei Wohnungen bieten zusätzlich grosszügige Gartenbereiche mit viel Privatsphäre und jeweils einem Hobbyraum zur flexiblen Nutzung. Die Attikawohnung begeistert mit beeindruckenden Terrassen. Die weiteren vier Wohnungen punkten mit luxuriösen Ensuite-Bädern und einem durchdachten Raumkonzept. Für zusätzlichen Komfort sorgt der direkte Zugang zur Garage über einen modernen Autolift.</p>    
      {{ partial:components/headings/h2 }}
        explore. the architect.
      {{ /partial:components/headings/h2 }}
      <p class="!mb-0">Der international tätige Architekt Curzio Ardinghi steht für Architektur, die inspiriert und bewegt. Seine Reise begann in Florenz, führte ihn über Aachen nach Zürich, wo er heute seine kreative Vision mit einem eingespielten Team umsetzt. Gemeinsam mit Architektinnen und Architekten, die sich durch ihre Leidenschaft für Gestaltung und ihre internationale Erfahrung auszeichnen, entwickelt er massgeschneiderte und zukunftsweisende Lösungen. Ob Neubauprojekte oder anspruchsvolle Sanierungen – Curzio Ardinghi begleitet jedes Vorhaben mit einem ganzheitlichen Anspruch: von der ersten Idee bis zur Umsetzung. Im Zentrum steht dabei stets der Mensch – es entstehen Räume mit Charakter, in denen man sich nicht nur aufhält, sondern zuhause fühlt. Architektur, die Emotionen weckt und nachhaltig begeistert – willkommen in einer Welt moderner, lebensnaher Gestaltung.</p>
    </div>
  {{ /partial:layout/inner }}
{{ /partial:layout/section }}

{{ partial:layout/section class="bg-sage" }}

  {{ partial:layout/inner }}

    {{ partial:components/headings/h2 class="!text-pine" }}
      explore. the mood.
    {{ /partial:components/headings/h2 }}
    <div>
      <a href="/assets/downloads/magnolia-rotfluhstrasse-zollikon-verkaufsplaene-04-06-2025.pdf" 
        target="_blank" 
        title="Verkaufspläne herunterladen"
        class="btn-primary">
        <span class="block leading-none">verkaufspläne.</span>
      </a>
    </div>

    <div class="mt-20 lg:mt-40 sm:grid sm:grid-cols-12 sm:gap-15 lg:gap-20">
      {{ partial:components/fancybox/item image="magnolia-rotfluhstrasse-zollikon-impressionen-projekt-5" alt="" class="aspect-square" }}
      {{ partial:components/fancybox/item image="magnolia-rotfluhstrasse-zollikon-impressionen-projekt-2" alt="" class="aspect-square" }}
      {{ partial:components/fancybox/item image="magnolia-rotfluhstrasse-zollikon-impressionen-projekt-3" alt="" class="aspect-square" }}
    </div>

  {{ /partial:layout/inner }}

{{ /partial:layout/section }}