{{ partial:layout/section }}

  {{ partial:components/media/visual image="magnolia-rothfluhstrasse-zollikon-visual-wohnen" alt="" }}

{{ /partial:layout/section }}

{{ partial:layout/section class="bg-white" }}

  {{ partial:layout/inner }}

    {{ partial:components/headings/h1 title="wohnen." byline="explore. the qualities." }}

    <div class="md:grid md:grid-cols-12 md:gap-x-20">
      <div class="md:col-span-6">
        <p><strong>Repräsentativer Eingangsbereich</strong><br>Ein gemeinsamer Hof im Erdgeschoss bildet den stilvollen Vorraum zum gemeinschaftlichen Treppenhaus. Ruhig, grün und mit hoher Aufenthaltsqualität.</p>
        <p><strong>Exklusives Wohnen auf jedem Geschoss</strong><br>Maximal zwei grosszügige Wohnungen pro Etage, mit optimaler Ausrichtung zum Garten und zum See. Die Attikawohnung erstreckt sich über das gesamte oberste Geschoss.</p>
        <p><strong>Offenes Wohnen mit Blick ins Grüne</strong><br>Wohn-, Essbereich mit hochwertiger Küche sind offen gestaltet und orientieren sich zum Garten mit direktem Zugang zu Terrasse oder Gartensitzplatz.</p>
        <p><strong>Privater Rückzugsort im Master Bedroom</strong><br>Alle Wohnungen verfügen über ein Schlafzimmer mit Ensuitebad, teils mit eigener Ankleide für zusätzlichen Komfort.</p>
      </div>
      <div class="md:col-span-6">
        <p><strong>Zusätzlicher Raum als Mehrwert</strong><br>Die Wohnungen 01 und 02 verfügen über einen eigenen, vielseitig nutzbaren Hobbyraum – ideal als Homegym, Atelier oder ganz einfach als persönlicher Rückzugsort.</p>
        <p><strong>Grosszügige Aussenbereiche für jede Wohnung</strong><br>Jede Wohnung hat mindestens eine Terrasse von 14.75m<sup>2</sup> oder einen Gartenplatz von 86.25 m<sup>2</sup>.</p>
        <p><strong>Stilvoll bis ins Detail</strong><br>Hochwertige, sorgfältig ausgewählte Materialien sorgen für ein harmonisches und elegantes Wohngefühl.</p>
        <p><strong>Komfortable Tiefgarage mit Autolift</strong><br>Ein moderner Autolift führt direkt in die hauseigene Tiefgarage – bequem, sicher und mit direktem Zugang ins Gebäude. Für Fahrräder stehen sowohl in der Garage als auch im Aussenbereich praktische Veloparkplätze zur Verfügung.</p>
      </div>
    </div>
    
    <div class="mt-15 lg:mt-30 md:flex space-y-10 md:space-y-0 md:space-x-20 lg:space-x-30">
      <div>
        <a href="/assets/downloads/magnolia-rothfluhstrasse-zollikon-kurzbaubeschrieb.pdf" 
          target="_blank" 
          title="Kurzbaubeschrieb herunterladen"
          class="btn-primary">
          <span class="block leading-none">kurzbaubeschrieb</span>
        </a>
      </div>
    </div>

  {{ /partial:layout/inner }}

{{ /partial:layout/section }}

{{ partial:layout/section }}

  {{ partial:layout/inner class="!pb-0" }}

    {{ partial:components/headings/h2 title="Visualisierungen" }}

    <div class="sm:grid sm:grid-cols-12 sm:gap-15 lg:gap-20">
      {{ partial:components/fancybox/item image="magnolia-rothfluhstrasse-zollikon-impressionen-wohnen-1" alt="" class="sm:col-span-6" }}
      {{ partial:components/fancybox/item image="magnolia-rothfluhstrasse-zollikon-impressionen-wohnen-2" alt="" class="sm:col-span-6" }}
      {{ partial:components/fancybox/item image="magnolia-rothfluhstrasse-zollikon-impressionen-wohnen-3" alt="" class="sm:col-span-6" }}
      {{ partial:components/fancybox/item image="magnolia-rothfluhstrasse-zollikon-impressionen-wohnen-4" alt="" class="sm:col-span-6" }}
      {{ partial:components/fancybox/item image="magnolia-rothfluhstrasse-zollikon-impressionen-wohnen-5" alt="" class="sm:col-span-6" }}
      {{ partial:components/fancybox/item image="magnolia-rothfluhstrasse-zollikon-impressionen-wohnen-6" alt="" class="sm:col-span-6" }}
      {{ partial:components/fancybox/item image="magnolia-rothfluhstrasse-zollikon-impressionen-wohnen-7" alt="" class="sm:col-span-6" }}
      {{ partial:components/fancybox/item image="magnolia-rothfluhstrasse-zollikon-impressionen-wohnen-8" alt="" class="sm:col-span-6" }}
    </div>

  {{ /partial:layout/inner }}

{{ /partial:layout/section }}


{{ partial:layout/section class="bg-sage" }}

  {{ page_elements }}
    {{ partial:elements }}
  {{ /page_elements }}

{{ /partial:layout/section }}