{{ partial:layout/grid class="sm:!gap-15 lg:!gap-20 mb-20 lg:mb-50" }}

  {{ partial:layout/span class="lg:!col-span-3" }}
    <div class="text-sage mb-5">Verfügbarkeit</div>
    <div>
      <select 
        class="!outline-none text-white bg-pine px-10 pt-12 pb-10 pr-20 leading-none w-full appearance-none bg-[url(../icons/chevron-down.svg)] bg-[length:15px_auto] bg-[right_.5rem_center] bg-no-repeat js-filter-attribute" 
        data-filterType="object-state" 
        aria-label="Verfügbarkeit">
        <option value="NULL">Alle Wohnungen</option>
        <option value="available">frei</option>
        <option value="reserved">reserviert</option>
        <option value="sold">verkauft</option>
      </select>
    </div>
  {{ /partial:layout/span }}
  
  {{ partial:layout/span class="lg:!col-span-3" }}
    <div class="text-sage mb-5">Zimmer</div>
    <div>
      <select 
        class="!outline-none text-white bg-pine px-10 pt-12 pb-10 pr-20 leading-none w-full appearance-none bg-[url(../icons/chevron-down.svg)] bg-[length:15px_auto] bg-[right_.5rem_center] bg-no-repeat js-filter-attribute" 
        data-filterType="object-rooms" 
        aria-label="Zimmer">
        <option value="NULL">Alle Zimmer</option>
        <option value="2.5">2.5</option>
        <option value="3.5">3.5</option>
      </select>
    </div>
  {{ /partial:layout/span }}

  {{ partial:layout/span class="lg:!col-span-3" }}
    <div class="text-sage mb-5">Etage</div>
    <div>
      <select 
        class="!outline-none text-white bg-pine px-10 pt-12 pb-10 pr-20 leading-none w-full appearance-none bg-[url(../icons/chevron-down.svg)] bg-[length:15px_auto] bg-[right_.5rem_center] bg-no-repeat js-filter-attribute" 
        data-filterType="object-floor" 
        aria-label="Etage">
        <option value="NULL">Alle Etagen</option>
        <option value="eg">EG</option>
        <option value="1.og">1. OG</option>
        <option value="2.og">2. OG</option>
        <option value="attika">Attika</option>
      </select>
    </div>
  {{ /partial:layout/span }}
  
  {{ partial:layout/span class="lg:!col-span-3 flex items-end" }}
    <button class="js-btn-reset bg-sage hover:bg-pine transition-all w-full text-left px-10 pt-12 pb-10 leading-none text-white">
      Filter zurücksetzen
    </button>
  {{ /partial:layout/span }}

{{ /partial:layout/grid }}