.iso-cls-0 {
  fill: #060300;
}

.iso-cls-1, .iso-cls-2 {
  fill: #d3c6be;
}

.iso-cls-2, .iso-cls-3, .iso-cls-4 {
  fill-rule: evenodd;
}

.iso-cls-5, .iso-cls-4 {
  mix-blend-mode: multiply;
}

.iso-cls-5, .iso-cls-4, .iso-cls-6 {
  fill: #5b7266;
}

.iso-cls-5 {
  fill: #d3c6be;
}

.iso-cls-7 {
  isolation: isolate;
}

.iso-cls-8 {
  mix-blend-mode: darken;
}

.iso-cls-3 {
  fill: #8ca397;
}

.iso-cls-9 {
  fill: #787878;
}

/* State classes */
.is-active.is-available [class^="iso-cls-"],
.is-active.is-available[class^="iso-cls-"] {
  fill: #5b7266 !important;
  opacity: 1 !important;
}

.is-active.is-taken [class^="iso-cls-"],
.is-active.is-taken[class^="iso-cls-"] {
  fill: #646464 !important;
  opacity: 1 !important;
}

[data-iso]:hover {
  @apply cursor-pointer;
}

[data-object].is-active {
  @apply !bg-sage !bg-opacity-20;
}

/* Floor classes */
[data-iso-floor] {
  @apply transition-transform duration-300;
}

.is-up {
  @apply transform -translate-y-[20%] transition-transform duration-300;
}

.is-down {
  @apply transform translate-y-[20%] transition-transform duration-300;
}
