<figure class="rellax" data-rellax-speed="-5">
  <picture>
    <source media="(min-width: 1440px)" srcset="/assets/{{ image }}-2xl.avif" type="image/avif">
    <source media="(min-width: 1280px)" srcset="/assets/{{ image }}-xl.avif" type="image/avif">
    <source media="(min-width: 1024px)" srcset="/assets/{{ image }}-lg.avif" type="image/avif">
    <source srcset="/assets/{{ image }}.avif" type="image/avif">
  
    <source media="(min-width: 1440px)" srcset="/assets/{{ image }}-2xl.webp" type="image/webp">
    <source media="(min-width: 1280px)" srcset="/assets/{{ image }}-xl.webp" type="image/webp">
    <source media="(min-width: 1024px)" srcset="/assets/{{ image }}-lg.webp" type="image/webp">
    <source srcset="/assets/{{ image }}.webp" type="image/webp">
  
    <img 
      src="/assets/{{ image }}.jpg" 
      width="900"
      height="387"
      alt=""
      loading="lazy"
      class="aspect-[21/10] object-cover h-full w-full"
    />
  </picture>
</figure>

